.user-dashboard {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff;
    padding: 30px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*  */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar ul li a {
    background-color: white;
    color: #007bff;
    padding: 8px 12px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: yellow;
    color: black;
}

.banner {
    background-image: url('D:\React project\online_voting_management_system\public\img\vote6.jpg');
    /* public/img/vote6.jpg मध्ये image ठेवा */
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

.vote-form {
    max-width: 400px;
    margin: 30px auto 60px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.vote-form input,
.vote-form select {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.vote-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.vote-form button:hover {
    background-color: #0056b3;
}

/* css apply click button election candidate */
.vote-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 25px;
    /* background-color: white; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; */
}

.vote-form input,
.vote-form select {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.vote-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.vote-form button:hover {
    background-color: #0056b3;
}